# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
- Popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Data science tools

Some of the popular langauges that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools |
| ------------------ |
| MAX |
| Kubernetes |
| The Model Asset eXchange |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers.

In [5]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes by dividing by 60.

In [6]:
200/60

3.3333333333333335

## Author
Melissa G.